.flex-container div{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.flex-container {
    display: flex;
    gap: 1rem;
}